@import url('./reset.css');
@import url('./font/montserrat/stylesheet.css');
@import url('./font/inter/stylesheet.css');

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    height: 60px;
    padding: 14px 16px;
    background-color: #6F2DC2;
    color: #fff;
}
.logo {
    display: flex;
    align-items: center;
    column-gap: 8.3px;
}
.logo-text {
    font-size: 15px;
    font-weight: 700;
    line-height: 150%;
}
.menu {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    min-height: 100vh;
    background-color: #6F2DC2;
    transition: left 0.3s ease-in;
}
.menu.active {
    left: 0%;
}
.menu > .menu-item + .menu-item {
    border-top: 1px solid #fff;
}
.menu-item {
    overflow: hidden;
}
.menu-link_arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}

.menu-link {
    flex: 0 0 50%;
    font-size: 14px;
    font-weight: 600;
    
}
.menu-arrow {
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-end;
}
.menu-arrow_svg {
    transition: transform 0.3s ease;
}
.menu-arrow_svg.rotated {
    transform: rotate(180deg);
  }
.menu_sub {
    display: grid;
    row-gap: 10px;
    font-size: 12px;
    height: 0;
    padding-left: 40px;
    transition: all 0.3s ease;
}
.menu_sub.open {
    margin-bottom: 15px;
}
.menu-item-padding {
    padding: 15px 10px;
}
.menu-icon {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.menu-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: transparent;
}
.menu-burger_icon {
    display: block;
    position: relative;
    width: 20px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px
}
.menu-burger_icon.active {
    background: transparent;
}
.menu-burger_icon::before {
    content: "";
    position: absolute;
    left: 0;
    top: -4px;
    width: 20px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
    transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
}
.menu-burger_icon::after {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 20px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
    transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
}

.menu-burger_icon.active::before{
    transform: rotate(45deg);
    top: 0;
    transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
}
.menu-burger_icon.active::after{
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
}