@import url('./reset.css');
@import url('./font/montserrat/stylesheet.css');
@import url('./font/inter/stylesheet.css');


body{
    font-family: 'Inter', sans-serif;
}
header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}
main {
    max-width: 1440px;
    margin: 0 auto;
}
a{   
    color: #fff;
}
input {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 12px;
    transition: all 0.3s ease;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(111, 45, 194, 0.4);
    border-color: #A965ED;
}

.container {
    padding: 0 15px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    letter-spacing: -0.02em;
    background: linear-gradient(120deg, #A965ED, #FA71CD, #A965ED);
    background-size: 200% 100%;
    background-position: left center;
    border-radius: 10px;
    color: #fff;
    height: 50px;
    transition: background-position 0.3s ease-in;
    cursor: pointer;
}
  
  .btn-white {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    font-weight: 600;
    background: linear-gradient(to left, rgba(111, 45, 194, 0.1) 50%, #A965ED 50%);
    background-size: 200% 100%;
    background-position: right center;
    color: #6F2DC2;
    transition: background-position 0.5s ease, color 0.5s ease;
    cursor: pointer;
}

  
/* Header */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    height: 60px;
    padding: 14px 16px;
    background-color: #6F2DC2;
    color: #fff;
}
.logo {
    display: flex;
    align-items: center;
    column-gap: 8.3px;
}

.menu {
    position: fixed;
    top: 60px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #6F2DC2;
    overflow-y: auto;
    transition: left 0.3s ease-in;
}

.menu.active {
    left: 0%;
}
.menu > .menu-item + .menu-item {
    border-top: 1px solid #fff;
}
.menu-item {
    overflow: hidden;
}
.menu-link_arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}
.menu-link {
    flex: 0 0 50%;
    font-size: 14px;
    font-weight: 600;
    
}
.menu-arrow {
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-end;
}
.menu-arrow_svg {
    color: #fff;
    fill-opacity: 0.3;
    transition: fill-opacity 0.3s ease-in, transform 0.3s ease-in;
}
.menu-arrow_svg.active {
    transform: rotate(180deg);
    fill-opacity: 1;
  }
.menu_sub {
    display: grid;
    row-gap: 10px;
    font-size: 12px;
    height: 0;
    padding-left: 40px;
    transition: all 0.3s ease;
}
.menu_sub.open {
    margin-bottom: 15px;
}
.menu-login_text {
    display: none;
}
.menu-item-padding {
    padding: 15px 10px;
}
.menu-icon {
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.menu-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: transparent;
}
.menu-burger_icon {
    display: block;
    position: relative;
    width: 20px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px
}
.menu-burger_icon.active {
    background: transparent;
}
.menu-burger_icon::before,
.menu-burger_icon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
    transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
}
.menu-burger_icon::before {  
    top: -6px;  
}
.menu-burger_icon::after {
    top: 6px;
}
.menu-burger_icon.active::before,
.menu-burger_icon.active::after{
    top: 0;
    transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
}
.menu-burger_icon.active::before{
    transform: rotate(45deg);
}
.menu-burger_icon.active::after{
    transform: rotate(-45deg);
}

/* Section header */
.header {
    background-color: #F9F4FF;
    padding-top: 30px;
    margin-bottom: 50px;
}
.header-title, 
.header-description {
    letter-spacing: -0.02em;
}

.header-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 100%;
}
.header-description {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 30px;
}

.header-btn {
    max-width: 290px;
    margin-bottom: 20px;
}
.header-price {
    font-size: 14px;
    color: rgb(0, 0, 0, 0.5);
    margin-bottom: 20px;
    line-height: 150%;
}
.header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.header-img > img {
    width: 320px;
}


/* Swiper */
.header-markitplaces {
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}
.header-markitplaces.swiper {
    padding: 30px 0;
}
.header-swiper_link {
    display: flex;
    align-items: center;
    column-gap: 15px;
    color: #000;
}
.header-swiper_img > img {
    width: 40px;
    height: 40px;
}
.header-swiper_header {
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.02em;
}

/* Section benefits */
.benefits {
    margin-bottom: 120px;
}
.benefits-row {
    display: grid;
    row-gap: 30px;
}
.benefits-item {
    display: grid;
    row-gap: 10px;
    padding-left: 20px;
    border-left: 1px solid rgb(0, 0, 0, 0.1);
}
.benefits-item_header {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 130%;
}
.benefits-item_description {
    line-height: 150%;
    letter-spacing: -0.02em;
}

/* Section tariffs*/
.tariffs {
    margin-bottom: 50px;
}
.tariffs_title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}
.tariffs-row {
    display: grid;
    row-gap: 30px;
    line-height: 150%;
    letter-spacing: -0.02em;
}
.tariffs-card{
    background: rgb(111, 45, 194, 0.1);
    border-radius: 20px;
    padding: 3px;
}
.tariffs-card.active{
    background: linear-gradient(to right, #A965ED, #FA71CD);
    border-radius: 20px;
    padding: 3px;
}
.card-background {
    display: grid;
    row-gap: 15px;
    height: 100%;
    background-color: #fff;
    border-radius: 17px;
    padding: 17px;
}
.card-content {
    display: grid;
    row-gap: 15px;
}
.card-name{
    font-weight: 600;
}
.card-price {
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
   
}
.card-price.active {
    letter-spacing: -0.02em;
    background: linear-gradient(to right, #A965ED, #FA71CD); 
    -webkit-background-clip: text; 
    color: transparent; 
}

.card-benefits {
    display: grid;
    row-gap: 20px;
}
.card-benefits_item {
    display: grid;
    row-gap: 5px;
}
.card-benefits_description,
.card-price_next{
    font-size: 14px;
    line-height: 150%;
    color: rgb(0, 0, 0, 0.5);
}
.card-price_next{
    text-align: center;
}

/* Section form */
.form {
    margin-bottom: 30px;
}
.form-bg {
    background-color: #F9F4FF;
    border-radius: 20px;
    overflow: hidden;
}
.form-content {
    padding: 20px 20px 33px 20px;
}
.form-title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 100%;
    margin-bottom: 15px;
}
.form-description {
    line-height: 150%;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}
.form-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}
.form-number {
    width: 100%;
    padding: 12px 20px;
    border-radius: 10px;
    line-height: 150%;
    transition: all 0.3s ease; /* Плавный переход для opacity */
}

.form-number::placeholder {
    color: rgb(0, 0, 0, 0.3);
   
}
.form-btn {
    width: 100%;
}
.form-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-img {
    position: relative;
    width: 226px;
    height: 177px;
    margin: 0 auto;
    overflow: hidden;
}

.form-img > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 226px;
    height: 251px;
}

@media screen and (min-width:768px) {
    .container {
        padding: 0 30px;
    }
    .btn:hover {
        background-position: right center; /* на ховере сдвигаем фон */
    } 
    .btn-white:hover {
        background-position: left center;
        color: #fff;
    }
    .btn,
    .btn-white {
       font-size: 18px;
       height: 55px;
    }
     /* Header */
    nav { 
        padding: 14px 30px;
    }
    .menu-icon {
        column-gap: 25px;
    }
    /* Section header */
    .header {
        padding-top: 60px;
    }
    .header-content {
        max-width: 339px;
    }
    .header-title {
        font-size: 35px;
        margin-bottom: 20px;
    }
    .header-description {
        font-size: 22px;
    }
    .header-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .header-btn {
        max-width: 218px;
    }
    .header-price {
        margin-bottom: 0;
    }
    .header-img {
        margin-bottom: 0;
    }
    .header-img > img {
        width: 354px;
        height: 360px;
    }
    /* Swiper */
    .header-swiper_header {
        font-size: 18px;
    }
   /* Section benefits */
    .benefits-item_header {
        font-size: 24px;
    }
    .benefits-item {
        padding-left: 30px;
    }
    .benefits-item_description {
        font-size: 18px;
    }
    /* Section tariffs*/
    .tariffs_title {
        font-size: 35px;
    }
    .card-background{
        padding: 22px;
        row-gap: 20px;
    }
    .card-content {
        row-gap: 20px;
    }
    .card-name,
    .card-benefits_header {
        font-size: 18px;
        line-height: 150%;
    }
    .card-price {
        font-size: 30px;
    }
    .card-price_next {
        line-height: 115%;
    }
    /* Section form */
    .form-bg {
       display: flex;
       column-gap: 25px;
    }
    .form-content {
        padding: 25px;
    }
    .form-content {
        max-width: 498px;
        flex-shrink: 0;
    }
    .form-title {
        font-size: 30px;
        margin-bottom: 20px; 
    }
    .form-description {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .form-fields {
        flex-direction: row;
        column-gap: 20px;
    }
    .form-btn {
        max-width: 198px;
    }
    .form-img {
        margin: auto 0 0 auto;
        width: 185px; 
        height: 209px;
    }
    .form-img > img {
        width: 258px; /* Исходная ширина изображения */
        height: 287px; /* Исходная высота изображения */
    }
    
}

@media screen and (min-width:1024px) {
    .btn, 
    .btn-white {
        font-size: 20px;
        height: 60px;
    }
    /* Header */
    .logo-img {
        transition: scale 0.3s ease-in;
    }
    .logo:hover > .logo-img {
        scale: 1.02;
    }
    .menu{
        position: static;
        display: flex;
        justify-content: center;
        height: auto;
        overflow: visible;
        column-gap: 16.5px;
    }
    .menu-item {
        position: relative;
        overflow: visible;
    }
    .menu_sub{
        position: absolute;
        top: 40px;
        left: 15px;
        row-gap: 0;
        background-color: #6F2DC2;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 130px;
        border-bottom-right-radius: 10px;
    }
    .menu_sub-item {
        text-align: center;
        border-bottom: 1px solid #fff;  
    }
    .menu-link_arrow {
        padding: 0;
    }
    .menu_sub-link {
        display: block;
        width: 100%;
        padding: 10px 0;
        transition: background-color 0.3s ease-in;
    }
    .menu_sub-item:hover > .menu_sub-link {
        background-color: #A965ED;
    }
    .menu > .menu-item + .menu-item {
        border: none;
    }
    .menu-link_arrow {
        column-gap: 3px;
    }
    .menu-link,
    .menu-arrow{
        flex: 0 1 auto; 
    }
    .menu-arrow{
        cursor: pointer;
    }
    .menu-arrow:hover > .menu-arrow_svg{
        fill-opacity: 1;
    }
  
    .menu-link {
        position: relative;
    }
    .menu-link::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 1px;
        width: 0%;
        background-color: #fff;
        transition: width 0.3s ease-in;
    }
    .menu-link:hover::before{
        width: 100%;
    }
    .menu-item-padding {
        padding: 0;
    }
    .menu-login {
        display: flex;
        align-items: center;
        column-gap: 5px;
        padding: 5.5px 10px;
        border-radius: 8px;
        background-color: #844CCB;
        transition: background-color 0.3s ease-in;
    }
    .menu-login_text {
        display: block;
        font-size: 14px;
    }
    .menu-login:hover {
        background-color: transparent;
    }
    .menu-phone_svg,
    .menu-login_svg {
        transition: scale 0.3s ease-in;
    }
    .menu-phone:hover > .menu-phone_svg,
    .menu-login:hover > .menu-login_svg {
        scale: 1.1;
    }
    .menu-burger {
        display: none;
    }

    /* Section header */
    .header-row {
        margin-bottom: 20px;
    }
    .header-content {
        max-width: 467px;
    }
    .header-title {
        font-size: 50px;
    }
    .header-btn {
        max-width: 244px;
    }
    .header-price {
        font-size: 16px;
    }
    .header-img {
        margin-top: -40px;
    }
    .header-img > img {
        width: 467px;
        height: 469px;
    }
    /* Section benefits*/
    .benefits {
        margin-bottom: 180px;
    }
    .benefits-row {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    }
    .benefits-item_description {
        font-size: 20px;
    }
    /* Section tariffs*/
    .tariffs_title {
        font-size: 50px;
    }
    .tariffs-row {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        column-gap: 30px;
    }
    .card-content {
       height: 615px;
    }
    .card-name, 
    .card-benefits_header {
        font-size: 20px;
    }
    .card-benefits {
        padding: 10px 0;
    }
    .card-btn {
       margin-top: auto;
    }
    .card-price {
        font-size: 35px;
    }
    .card-benefits_description, 
    .card-price_next{
        font-size: 16px;
    }
    .card-price_next {
        line-height: 120%;
    }
    /* Section form */
    .form {
        margin-bottom: 89px;
    }
    .form-bg {
        column-gap: 0;
        justify-content: space-between;
    }
    .form-content {
        max-width: 604px;
        padding: 45px 12px 45px 50px;
    }
    .form-title {
        font-size: 35px;
    }
    .form-description {
        font-size: 20px;
    }
    .form-btn {
        max-width: 222px;
        cursor: pointer;
    }
    .form-img {
        width: 360px;
        height: 290px;
        margin: 0;
        overflow: visible;
    }
    .form-img > img {
        width: 314px;
        height: 349px;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (min-width:1440px) { 
    .container {
        padding: 0 120px;
    }
    /* Header */
    .menu{
        column-gap: 40px;
    }

    /* Section header */
    .header {
        padding-top: 113px;
    }
    .header-row { 
        margin-bottom: 12px;
    }
    .header-content {
       max-width: 580px;
    }
    .header-title {
        font-size: 50px;
        margin-bottom: 30px;
    }
    .header-description {
        max-width: 400px;
        font-size: 24px;
        margin-bottom: 30px;
    }
    .header-img {
        margin-top: -115px;
    }
    .header-img > img { 
        width: 535px;
        height: 552px;
    }
    .header-swiper_header {
        font-size: 20px;
    }

    /* Section benefits */

    .benefits {
        margin-bottom: 200px;
    }

    /* Section tariffs */
    .card-content {
        height: 520px;
    }
}